/* Start Gloabl Rules */

:root{
    --main-color: #2196F3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cairo', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.container{
    padding-left: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

/* End Gloabl Rules */
/* start header */
.header{
    background-color: wihte; 
    position: relative;
    box-shadow: 0 0 10px #ddd;
}

.header .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.header .logo{
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px){
    .header .logo{
        width: 100%;
        height: 50px;
    }
    
}
.header .main-nav{
    display: flex;
}
@media (max-width:767px){
    .header .main-nav{
        margin: auto;
    }
    
}

.header .main-nav > li > a{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 72px;
    position: relative;
    color: #345168;
    padding: 0 30px;
    transition: var(--main-transition);
    overflow: hidden;
}
@media (max-width:767px){
    .header .main-nav > li > a{
        padding: 10px ;
        height: 40px;
        font-size:14px;
    }
    
}

.header .main-nav > li > a::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 4px;
    top: 0;
    right: -100%;
    transition: var(--main-transition);
}

.header .main-nav > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;

}
.header .main-nav > li > a:hover::before{
    right: 0px;
}
.header .mega-menu{
    position: absolute ;
    width: 100%;
    right:0;
    padding:30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: 100;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    transition: top var(--main-transition), opacity var(--main-transition);

}

.header .mega-menu .image{
    max-width: 50%;
    
}

.header .mega-menu .image img{
    max-width: 100%;
    
    border-radius: 20%;
} 
.header .mega-menu .links{

}
.header .mega-menu .links li{
    /* padding: 15px; */

}
.header .mega-menu .links li::before{
    content:"";

}
.header .mega-menu .links li:hover::before{

}

.header .mega-menu .links li a{
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;

}
.header .mega-menu .links li a i{
    margin-left: 10px;

}


/* end header */
/* Start landing */
.landing{
    position: relative;
    overflow: hidden;
}

.landing::before{
    content:"";
    position: absolute;
    right: 0;
    top:-140px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top right;
}

.landing .container{
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;

}
.landing .text{
    flex:1;
}
@media (max-width:991px){
    .landing .text{
        text-align: center;
    }
}

.landing .text h1{
    font-size: 40px;
    margin: 0;
    color:#345168
    
}

@media (max-width:767px){
    .landing .text h1{
        font-size: 35px;
    }
}
.landing .text p{
    font-size: 22px;
    line-height: 1.7;
    margin: 5px 0 0;
    color:#666;
    max-width: 500px;
}
@media (max-width:767px){
    .landing .text p{
        font-size: 17px;
    }
}

@media (max-width:991px){
    .landing .text p{
        margin: 10px auto;
    }
}


.landing .image img{
    position: relative;
    width: 600px;
    border-radius: 15px;
    animation: up-and-down 5s linear infinite ;
    
}
@media (max-width:991px){
    .landing .image img{
        display:none;
    }
}

.landing .go-down{
    color:var(--main-color);
    position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.landing .go-down:hover{
    color:var(--main-color);
}
.landing .go-down i{
    animation: bouncing 1.5s infinite;
}

/* End landing */
/* Start Animation */
@keyframes up-and-down {
    0%, 100%{
        top: 0;
    }
    50%{
        top: -40px;
    }
}
@keyframes bouncing{
    0%, 10%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%, 60%{
        transform: translateY(-20px);
    }
}
/* End Animation */
